**GROUP 5**
Data Pre-processing

First, we must import our data (and numpy and pandas to help us start looking at it) and created dataframes

We ran .head() to check that everything looked correct with our new dataframes

In [6]:
import numpy as np
import pandas as pd

asthma = pd.read_csv('/Users/delre/group5-project/Datasets/California_Asthma_Data_ADA.csv')
aqi = pd.read_csv('/Users/delre/group5-project/Datasets/annual_aqi_by_county_2015.csv')

asthma.head()
aqi.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,Baldwin,2015,264,230,33,1,0,0,0,129,53,38,0,0,189,75,0
1,Alabama,Clay,2015,112,101,11,0,0,0,0,91,50,32,0,0,0,112,0
2,Alabama,Colbert,2015,280,251,29,0,0,0,0,73,51,36,0,0,195,85,0
3,Alabama,DeKalb,2015,363,319,43,1,0,0,0,101,52,37,0,0,307,56,0
4,Alabama,Elmore,2015,233,223,9,1,0,0,0,115,47,35,0,0,233,0,0

Our group is going to be comparing ashtma rates and AQI of different counties in CA in 2015-2016, so we will want to be aware of any data that is missing:

In [21]:
sum(aqi.isnull().any(axis=1))
sum(aqi.isnull().any(axis=0)) #The AQI dataset has no missing data!

sum(asthma.isnull().any(axis=1)) #The asthma dataset has 2440 missing values in its columns
sum(asthma.isnull().any(axis=0)) #It also has 17 missing values in its rows
asthma.shape #The asthma dataset is (2440, 17)

#QUESTION FOR FORD - why is it saying every value is null? How can I fix this?

(2440, 17)

The missing data check reveals every column and row of the asthma dataset has some missing data...which cannot be correct. This indicates to us that we are going to need to change something in order to be able to work with this data

In [22]:
asthma.loc[asthma.isnull().any(axis=1),:] #How do we deal with this ?
#ULTIMATE GOAL: we need to be able to compare "county" name column from aqi dataframe with
#It seems to me that we need to get rid of the first 4 (0-3) rows of data so that
#the row currently labeled "3";"county";"year"etc is at the top - will that solve this for us?

,Click here to return to Index,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Asthma Prevalence: Lifetime and current asthma...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,County,Year,Asthma measure,Comparison,Group,County prevalence,County 95% confidence interval,California prevalence,California 95% confidence interval,Comment,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alameda,2015–2016,Lifetime asthma prevalence,Total population,All ages,14.3%,(10.7–17.9),14.8%,(14.0–15.7),None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2435,Tulare,2019–2020,Current asthma prevalence,Age group,65+ years,13.3%,(9.0–17.7),9.2%,(8.5–9.9),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2436,Tuolumne,2019–2020,Current asthma prevalence,Age group,65+ years,10.3%,(2.6–17.9),9.2%,(8.5–9.9),"Alpine, Amador, Calaveras, Inyo, Mariposa, Mon...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2437,Ventura,2019–2020,Current asthma prevalence,Age group,65+ years,7.5%,(3.9–11.1),9.2%,(8.5–9.9),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2438,Yolo,2019–2020,Current asthma prevalence,Age group,65+ years,14.0%,(7.6–20.3),9.2%,(8.5–9.9),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2439,Yuba,2019–2020,Current asthma prevalence,Age group,65+ years,14.4%,(7.6–21.1),9.2%,(8.5–9.9),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We used .describe() to quickly look at some summary statistics from our dataframe as well

In [24]:
aqi.describe()

#QUESTION: anything else we should do for pre-processing?

,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
count,1042.0,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000
mean,2015.0,307.615163,243.827255,59.912668,3.206334,0.605566,0.031670,0.031670,118.167946,57.768714,36.590211,0.541267,5.844530,170.674664,117.126679,13.428023
std,0.0,89.641182,78.876567,48.680308,8.540272,2.846183,0.262909,0.518583,134.843445,15.914917,10.281813,9.927050,22.314984,118.476669,109.545298,52.689629
min,2015.0,22.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.0,260.000000,194.000000,23.000000,0.000000,0.000000,0.000000,0.000000,87.000000,50.000000,33.000000,0.000000,0.000000,70.250000,2.250000,0.000000
50%,2015.0,362.000000,260.000000,47.000000,1.000000,0.000000,0.000000,0.000000,105.000000,56.000000,38.000000,0.000000,0.000000,186.500000,106.000000,0.000000
75%,2015.0,365.000000,308.000000,87.000000,3.000000,0.000000,0.000000,0.000000,133.000000,64.000000,42.000000,0.000000,0.000000,245.000000,194.000000,0.000000
max,2015.0,365.000000,361.000000,295.000000,106.000000,40.000000,5.000000,12.000000,3994.000000,154.000000,102.000000,312.000000,300.000000,365.000000,365.000000,365.000000