GROUP 5
Data Pre-processing

In [53]:
import numpy as np
import pandas as pd
import matplotlib as sns

asthma = pd.read_csv('/Users/danielzarur2022/GitHub/group5-project/datasets/California_Asthma_Data_ADA.csv')
#asthma = pd.read_csv('/Users/delre/group5-project/Datasets/California_Asthma_Data_ADA.csv')
aqi = pd.read_csv('/Users/danielzarur2022/GitHub/group5-project/Datasets/annual_aqi_by_county_2015.csv')
# aqi = pd.read_csv('/Users/delre/group5-project/Datasets/annual_aqi_by_county_2015.csv')

#asthma.head()
ca_aqi_data = aqi.loc[aqi['State'] == 'California'].reset_index(drop=True)
print(ca_aqi_data)

         State           County  Year  Days with AQI  Good Days  \
0   California          Alameda  2015            365        214
1   California           Alpine  2015             31          1
2   California           Amador  2015            364        283
3   California            Butte  2015            365        170
4   California        Calaveras  2015            365        245
5   California           Colusa  2015            365        229
6   California     Contra Costa  2015            365        258
7   California        Del Norte  2015            114        106
8   California        El Dorado  2015            365        239
9   California           Fresno  2015            365         60
10  California            Glenn  2015            365        257
11  California         Humboldt  2015            365        310
12  California         Imperial  2015            365         87
13  California             Inyo  2015            365        203
14  California             Kern  2015            365         44
15  California            Kings  2015            365         90
16  California             Lake  2015            363        351
17  California      Los Angeles  2015            365         26
18  California           Madera  2015            365        109
19  California            Marin  2015            365        285
20  California         Mariposa  2015            365        239
21  California        Mendocino  2015            365        302
22  California           Merced  2015            365        142
23  California             Mono  2015            365        321
24  California         Monterey  2015            365        331
25  California             Napa  2015            365        237
26  California           Nevada  2015            364        217
27  California           Orange  2015            365        126
28  California           Placer  2015            365        236
29  California           Plumas  2015            132         68
30  California        Riverside  2015            365         43
31  California       Sacramento  2015            365        153
32  California       San Benito  2015            365        313
33  California   San Bernardino  2015            365         35
34  California        San Diego  2015            365         91
35  California    San Francisco  2015            365        300
36  California      San Joaquin  2015            365        138
37  California  San Luis Obispo  2015            365        163
38  California        San Mateo  2015            365        327
39  California    Santa Barbara  2015            365        249
40  California      Santa Clara  2015            365        247
41  California       Santa Cruz  2015            365        320
42  California           Shasta  2015            365        256
43  California         Siskiyou  2015            362        334
44  California           Solano  2015            365        246
45  California           Sonoma  2015            365        321
46  California       Stanislaus  2015            365        127
47  California           Sutter  2015            365        194
48  California           Tehama  2015            365        231
49  California          Trinity  2015             68         68
50  California           Tulare  2015            365         50
51  California         Tuolumne  2015            364        264
52  California          Ventura  2015            365        183
53  California             Yolo  2015            365        236

    Moderate Days  Unhealthy for Sensitive Groups Days  Unhealthy Days  \
0             139                                   12               0
1              14                                   13               3
2              73                                    8               0
3             182                                   12               1
4              98                                   18               2
5             130                                    4               2
6              99                                    8               0
7               8                                    0               0
8             102                                   22               2
9             203                                   78              23
10            108                                    0               0
11             55                                    0               0
12            236                                   39               3
13            141                                   12               6
14            199                                   93              28
15            205                                   60              10
16             11                                    1               0
17            207                                   95              36
18            209                                   43               4
19             78                                    2               0
20            115                                    6               4
21             59                                    2               2
22            178                                   41               4
23             25                                    2               4
24             33                                    1               0
25            127                                    1               0
26            116                                   29               2
27            218                                   19               2
28            120                                    8               1
29             50                                   10               4
30            182                                  106              32
31            184                                   25               3
32             52                                    0               0
33            200                                   88              37
34            233                                   40               1
35             65                                    0               0
36            191                                   32               4
37            197                                    5               0
38             37                                    1               0
39            115                                    1               0
40            111                                    7               0
41             45                                    0               0
42             96                                   12               1
43             24                                    4               0
44            115                                    4               0
45             44                                    0               0
46            190                                   43               5
47            163                                    8               0
48            115                                   18               1
49              0                                    0               0
50            217                                   78              20
51             89                                   11               0
52            169                                   13               0
53            125                                    4               0

    Very Unhealthy Days  Hazardous Days  Max AQI  90th Percentile AQI  \
0                     0               0      147                   76
1                     0               0      170                  149
2                     0               0      140                   67
3                     0               0      152                   84
4                     1               1      320                   90
5                     0               0      191                   70
6                     0               0      147                   67
7                     0               0       69                   39
8                     0               0      166                   93
9                     1               0      205                  136
10                    0               0       93                   67
11                    0               0       90                   54
12                    0               0      175                  105
13                    0               3     1383                   90
14                    1               0      201                  146
15                    0               0      174                  119
16                    0               0      148                   47
17                    1               0      203                  151
18                    0               0      154                  105
19                    0               0      103                   61
20                    1               0      215                   84
21                    0               0      160                   55
22                    0               0      159                  105
23                    1              12     3994                   54
24                    0               0      120                   50
25                    0               0      108                   69
26                    0               0      166                   93
27                    0               0      156                   87
28                    0               0      179                   75
29                    0               0      157                  102
30                    2               0      238                  150
31                    0               0      172                   93
32                    0               0       93                   58
33                    5               0      223                  154
34                    0               0      155                  102
35                    0               0      100                   56
36                    0               0      164                  100
37                    0               0      126                   80
38                    0               0      101                   51
39                    0               0      101                   67
40                    0               0      147                   67
41                    0               0       94                   54
42                    0               0      156                   84
43                    0               0      139                   48
44                    0               0      118                   74
45                    0               0       88                   53
46                    0               0      187                  112
47                    0               0      119                   84
48                    0               0      153                   87
49                    0               0       49                   22
50                    0               0      170                  143
51                    0               0      126                   77
52                    0               0      126                   84
53                    0               0      103                   75

    Median AQI  Days CO  Days NO2  Days Ozone  Days PM2.5  Days PM10
0           46        0        15         180         170          0
1          102        0         0           0          31          0
2           41        0         0         364           0          0
3           52        0         0         237         127          1
4           45        0         0         274          91          0
5           46        0         0         154         208          3
6           44        0         7         213         145          0
7           15        0         0           0         114          0
8           44        0         0         350           5         10
9           80        0         0         227         133          5
10          44        0         0         243          99         23
11          36        0         0         183         176          6
12          63        0         5         147         127         86
13          48        0         0         286          29         50
14          84        0         1         231         129          4
15          71        0         0         197         131         37
16          36        0         0         361           2          0
17          79        0        25         189         149          2
18          63        0         0         223         127         15
19          36        1        16         178         169          1
20          46        0         0         327          29          9
21          38        0         0         136         229          0
22          58        0         0         217         147          1
23          14        0         0           0          29        336
24          37        0         2         258          80         25
25          44        1         1         145         216          2
26          47        0         0         356           8          0
27          56        0        36         128         200          1
28          45        0         9         205         151          0
29          50        0         0           0         132          0
30          87        0         0         194         107         64
31          54        0         4         193         168          0
32          39        0         0         341          23          1
33          83        0        31         203         124          7
34          61        0         8         208         147          2
35          35        0        68         164         133          0
36          56        0         1         170         188          6
37          53        0         0         191         148         26
38          32        1        40         230          94          0
39          45        0         3         251         106          5
40          43        0        15         187         163          0
41          35        0         0         254         111          0
42          44        0         0         354          11          0
43          36        0         0         343          17          2
44          44        0         6         201         157          1
45          35        0         1         267          94          3
46          59        0         0         202         154          9
47          49        1         2         233         129          0
48          45        0         0         311          52          2
49           9        0         0           0          68          0
50          78        0         0         206         154          5
51          43        0         0         364           0          0
52          50        0         4         226         131          4
53          44        0         2         230         133          0

Our group is going to be comparing ashtma rates and AQI of different counties in CA in 2015-2016, so we will want to be aware of any data that is missing:

In [57]:
sum(aqi.isnull().any(axis=1))
sum(aqi.isnull().any(axis=0)) #The AQI dataset has no missing data!

sum(asthma.isnull().any(axis=1)) #The asthma dataset has 2440 missing values in its columns
sum(asthma.isnull().any(axis=0)) #It also has 17 missing values in its rows
asthma.shape #The asthma dataset is (2440, 17)

(2440, 17)

The missing data check reveals every column and row of the asthma dataset has some missing data

In [66]:

asthma.loc[asthma.isnull().any(axis=1),:] #How do we deal with this ?

Empty DataFrame
Columns: [Click here to return to Index, Unnamed: 1, Unnamed: 2, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16]
Index: []

To delte these null values from the asthma data:
unsure this is the right way to do this

In [80]:
asthma = asthma.dropna() #this is not deleting the NaN values like I thought it would
asthma.describe()

,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
aqi.describe()

,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
count,1042.0,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000
mean,2015.0,307.615163,243.827255,59.912668,3.206334,0.605566,0.031670,0.031670,118.167946,57.768714,36.590211,0.541267,5.844530,170.674664,117.126679,13.428023
std,0.0,89.641182,78.876567,48.680308,8.540272,2.846183,0.262909,0.518583,134.843445,15.914917,10.281813,9.927050,22.314984,118.476669,109.545298,52.689629
min,2015.0,22.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.0,260.000000,194.000000,23.000000,0.000000,0.000000,0.000000,0.000000,87.000000,50.000000,33.000000,0.000000,0.000000,70.250000,2.250000,0.000000
50%,2015.0,362.000000,260.000000,47.000000,1.000000,0.000000,0.000000,0.000000,105.000000,56.000000,38.000000,0.000000,0.000000,186.500000,106.000000,0.000000
75%,2015.0,365.000000,308.000000,87.000000,3.000000,0.000000,0.000000,0.000000,133.000000,64.000000,42.000000,0.000000,0.000000,245.000000,194.000000,0.000000
max,2015.0,365.000000,361.000000,295.000000,106.000000,40.000000,5.000000,12.000000,3994.000000,154.000000,102.000000,312.000000,300.000000,365.000000,365.000000,365.000000

In [82]:
asthma.describe()

,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN