**GROUP 5**
Data Pre-processing

First, we imported our data (and numpy and pandas to help us start looking at it) and created dataframes

We ran .head() to check that everything looked correct with our new dataframes

In [7]:
import numpy as np
import pandas as pd
import matplotlib as sns

asthma = pd.read_csv('/Datasets/California_Asthma_Data_ADA.csv', header = 4)
aqi2015 = pd.read_csv('Datasets/annual_aqi_by_county_2015.csv')
aqi2016 = pd.read_csv('/Datasets/annual_aqi_by_county_2016.csv')

print(aqi2015.head())
print(aqi2016.head())
asthma.head()

     State   County  Year  Days with AQI  Good Days  Moderate Days  \
0  Alabama  Baldwin  2015            264        230             33
1  Alabama     Clay  2015            112        101             11
2  Alabama  Colbert  2015            280        251             29
3  Alabama   DeKalb  2015            363        319             43
4  Alabama   Elmore  2015            233        223              9

   Unhealthy for Sensitive Groups Days  Unhealthy Days  Very Unhealthy Days  \
0                                    1               0                    0
1                                    0               0                    0
2                                    0               0                    0
3                                    1               0                    0
4                                    1               0                    0

   Hazardous Days  Max AQI  90th Percentile AQI  Median AQI  Days CO  \
0               0      129                   53          38        0
1               0       91                   50          32        0
2               0       73                   51          36        0
3               0      101                   52          37        0
4               0      115                   47          35        0

   Days NO2  Days Ozone  Days PM2.5  Days PM10
0         0         189          75          0
1         0           0         112          0
2         0         195          85          0
3         0         307          56          0
4         0         233           0          0
     State   County  Year  Days with AQI  Good Days  Moderate Days  \
0  Alabama  Baldwin  2016            279        247             32
1  Alabama     Clay  2016            116        109              7
2  Alabama  Colbert  2016            282        258             23
3  Alabama   DeKalb  2016            348        304             43
4  Alabama   Elmore  2016            117        107             10

   Unhealthy for Sensitive Groups Days  Unhealthy Days  Very Unhealthy Days  \
0                                    0               0                    0
1                                    0               0                    0
2                                    1               0                    0
3                                    1               0                    0
4                                    0               0                    0

   Hazardous Days  Max AQI  90th Percentile AQI  Median AQI  Days CO  \
0               0       87                   51          37        0
1               0       56                   45          30        0
2               0      115                   50          38        0
3               0      119                   54          40        0
4               0       77                   48          40        0

   Days NO2  Days Ozone  Days PM2.5  Days PM10
0         0         221          58          0
1         0           0         116          0
2         0         219          63          0
3         0         321          27          0
4         0         117           0          0

,County,Year,Asthma measure,Comparison,Group,County prevalence,County 95% confidence interval,California prevalence,California 95% confidence interval,Comment
0,Alameda,2015 2016,Lifetime asthma prevalence,Total population,All ages,14.30%,(10.7 17.9),14.80%,(14.0 15.7),None
1,Alpine,2015 2016,Lifetime asthma prevalence,Total population,All ages,14.20%,(7.2 21.1),14.80%,(14.0 15.7),"Alpine, Amador, Calaveras, Inyo, Mariposa, Mon..."
2,Amador,2015 2016,Lifetime asthma prevalence,Total population,All ages,14.20%,(7.2 21.1),14.80%,(14.0 15.7),"Alpine, Amador, Calaveras, Inyo, Mariposa, Mon..."
3,Butte,2015 2016,Lifetime asthma prevalence,Total population,All ages,14.70%,(7.8 21.6),14.80%,(14.0 15.7),None
4,Calaveras,2015 2016,Lifetime asthma prevalence,Total population,All ages,14.20%,(7.2 21.1),14.80%,(14.0 15.7),"Alpine, Amador, Calaveras, Inyo, Mariposa, Mon..."

Our group is going to be comparing ashtma rates and AQI of different counties in CA in 2015-2016, so we will want to be aware of any data that is missing:

In [8]:
print('the aqi 2015 dataset has', sum(aqi2015.isnull().any(axis=1)), 'columns with missing values and',
sum(aqi2015.isnull().any(axis=0)), 'rows with missing data')

print('the aqi 2016 dataset has', sum(aqi2016.isnull().any(axis=1)), 'columns with missing values and',
sum(aqi2016.isnull().any(axis=0)), 'rows with missing data')

print('asthma dataset has', sum(asthma.isnull().any(axis=1)), 'columns with missing data') 
print('asthma dataset has', sum(asthma.isnull().any(axis=0)), 'rows with missing data') 
print(asthma.shape, 'is the total size of the asthma dataset')

the aqi 2015 dataset has 0 columns with missing values and 0 rows with missing data
the aqi 2016 dataset has 0 columns with missing values and 0 rows with missing data
asthma dataset has 461 columns with missing data
asthma dataset has 1 rows with missing data
(2436, 10) is the total size of the asthma dataset

We wanted to see all the null values in the asthma dataframe so we could know what was missing

In [9]:
print(asthma.isnull().any(axis=0))

County                                False
Year                                  False
Asthma measure                        False
Comparison                            False
Group                                 False
County prevalence                     False
County 95% confidence interval        False
California prevalence                 False
California 95% confidence interval    False
Comment                                True
dtype: bool

This helped us realize that the null values were popping up so frequently because python was reading too much of our dataset; our excel file only has relevant data in the first nine columns, but python is looking at up to 16 columns which are mostly empty cells, and otherwise only contain notes that python cannot make sense of.

We also only want to look at data from California in our aqi datasets. Because of this, we made three subsets:

In [10]:
asthmalist = ['County', 'Year', 'Asthma measure', 'Comparison', 'Group',
       'County prevalence', 'County 95% confidence interval',
       'California prevalence', 'California 95% confidence interval']

ca_asthma = asthma[asthmalist]

ca_aqi2015 = aqi2015.loc[aqi2015['State']=='California',:].reset_index(drop=True)
ca_aqi2016 = aqi2016.loc[aqi2016['State']=='California',:].reset_index(drop=True)

Ford helped us realize that we need to make sure we are looking at data for the same time period.
Our asthma data is grouped into two year intervals, and our aqi data is in two seperate datasets from 2015-2016.
This means we need to combine our two aqi datasets, and for our asthma data, we need to isolate the years 2015-16.

In [11]:
ca_aqi = pd.concat([ca_aqi2015, ca_aqi2016], axis = 0)

ca_asthma2015 = ca_asthma.loc[ca_asthma['Year']=='2015 2016',:].reset_index(drop=True)

We needed to check how much data we are going to have to work with to make sure we have at least enough to complete the project

In [12]:
print(ca_asthma2015.shape)
print(ca_aqi.shape)
print('This should give us enough data to look at')

(812, 9)
(108, 18)
This should give us enough data to look at

Finally, we used .describe() to quickly look at some summary statistics from our final dataframes as well

In [61]:
print(ca_asthma2015.describe())
print((ca_aqi).describe())

         County       Year              Asthma measure Comparison     Group  \
count       812        812                         812        812       812
unique       58          1                           2          3         7
top     Alameda  2015–2016  Lifetime asthma prevalence  Age group  All ages
freq         14        812                         406        464       116

       County prevalence County 95% confidence interval California prevalence  \
count                812                            812                   812
unique               174                            376                    14
top        Not available                  Not available                 14.8%
freq                 325                            325                    58

       California 95% confidence interval
count                                 812
unique                                 14
top                           (14.0–15.7)
freq                                   58
              Year  Days with AQI   Good Days  Moderate Days  \
count   108.000000     108.000000  108.000000     108.000000
mean   2015.500000     348.027778  206.666667     114.231481
std       0.502331      66.773079   97.690815      68.530177
min    2015.000000      24.000000    1.000000       0.000000
25%    2015.000000     365.000000  126.750000      55.750000
50%    2015.500000     365.000000  231.500000     104.000000
75%    2016.000000     366.000000  288.500000     180.250000
max    2016.000000     366.000000  358.000000     255.000000

       Unhealthy for Sensitive Groups Days  Unhealthy Days  \
count                           108.000000      108.000000
mean                             21.796296        4.564815
std                              28.362065        9.311106
min                               0.000000        0.000000
25%                               1.000000        0.000000
50%                               9.500000        1.000000
75%                              33.250000        4.000000
max                             106.000000       48.000000

       Very Unhealthy Days  Hazardous Days      Max AQI  90th Percentile AQI  \
count           108.000000      108.000000   108.000000           108.000000
mean              0.324074        0.444444   255.879630            83.398148
std               1.372825        2.606008   715.100473            31.325825
min               0.000000        0.000000    49.000000            22.000000
25%               0.000000        0.000000   103.000000            60.500000
50%               0.000000        0.000000   152.000000            80.000000
75%               0.000000        0.000000   172.000000           102.000000
max              12.000000       24.000000  6403.000000           172.000000

       Median AQI     Days CO    Days NO2  Days Ozone  Days PM2.5   Days PM10
count  108.000000  108.000000  108.000000  108.000000  108.000000  108.000000
mean    47.907407    0.064815    5.768519  216.629630  110.166667   15.398148
std     16.690440    0.247347   14.135927   93.906455   65.830780   49.025254
min      9.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%     37.000000    0.000000    0.000000  182.750000   63.750000    0.000000
50%     44.000000    0.000000    0.000000  219.000000  127.500000    1.000000
75%     54.250000    0.000000    3.000000  263.250000  154.000000    7.500000
max    102.000000    1.000000   91.000000  366.000000  355.000000  347.000000

In [82]:
asthma.describe()

,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN